	/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../neat/neat-helpers";

$sakayGreen: #2A6D45;
$sakayRed:  #FF584C;
$sakayRedDark: #d83226;

html, body {
	font-family: "Museo Sans", "museo-sans", sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	line-height: 2.5;
}

h2 {
	font-size: 1.8em;
	font-weight: 300;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
}

p {
	font-size: 1.2em;
	line-height: 1.2;
	@include pad(40px);
	@include media(max-width 480px) {
		@include pad(10px 30px);
		text-align: left;
		font-size: 1em;
		line-height: 1.5em;
	}
}

a {
	text-decoration: none;
	color: #fff
}

header {
	background-color: $sakayGreen;
	background-image: url(../illustrations/sakay-guide-header.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	height: 400px;
	width: 100%;
	margin-bottom: 2 em;
	.text-header {
		position: relative;
		top: 40px;
	}
	// a.pdf-button {
	// 	padding: 13px 10px 10px;
	// 	width: 35px;
	// 	height: 40px;
	// 	position: absolute;
	// 	top: -3px;
	// 	right: 50px;
	// 	background: $sakayRedDark;
	// 	border-radius: 3px;
	// 	overflow: hidden;
	// 	@include transition(all 0.3s ease-out);
	// 	.button-container {
	// 		width: 150px;
	// 		h3 { 
	// 			display: inline-block;
	// 			font-size: 1em; 
	// 		}
	// 		i {
	// 			position: relative;
	// 			left: -11px;
	// 		}
	// 	}
	// 	&:hover {
	// 		width: 160px;
	// 		background: $sakayRed;
	// 	}
	// 	@include media(min-width 0px max-width 480px) {
	// 		right: 20px;
	// 	}
	// }
	@include media(min-width 0px max-width 900px) {
		height: 300px;
		background-size: 900px;
	}
	@include media(min-width 901px max-width 1599px) {
		height: 450px;
		background-size: 1600px;
		.text-header {
			top: 70px;
		}
	}
	@include media(min-width 1600px) {
		height: 550px;
		.text-header {
			top: 100px;
		}
	}
}

.container {
	@include outer-container;
	text-align: center;
}

.text-main {
	margin: 3em 0 3em;
	#download-pdf {
		background-color: $sakayRedDark;
		@include pad(15px 25px);
		margin: 0em 0em 4em;
		display: inline-block;
		font-weight: 700;
		font-size: 1.2em;
		transition: all 2.0s ease-in;
		i {
			padding-right: 10px;
		}
	}
	p {
		@include pad(40px 40px 15px);
	}
}

.box {
	border: 5px solid $sakayGreen;
	height: 250px;
	display: block;
	overflow: hidden;
	img {
		height: 100%;
		width: 100%;	
	}
}

.box-container {
	height: 700px;
	margin: 30px;
	a {
		@include transition(all 0.1s ease-in);
		&:hover {
			@include transform(scale(1.1));
		}
	}
	.box {
		margin-bottom: 2em;
		h3 {
			display: block;
			@include pad(8px);
			position: relative;
			top: -42px;
			width: 100%;
			height: 40px;
			color: #fff;
			background-color: $sakayGreen;	
		}
		@include media(min-width 0px max-width 480px) {
			@include span-columns(12);
			@include omega(1n);
			height: 50px;
			margin-bottom: 0.5em;
			border: none;
			h3 {
				position: initial;
				text-align: left;
			}
			img {
				width: 20%;
				float: left;
				position: relative;
				bottom: 4px;
				right: 2px;
			}
		}	
		@include media(min-width 481px max-width 770px) {
			@include span-columns(5);
			@include omega(2n);
			@include shift(0.7);
		}	
		@include media(min-width 771px max-width 1023px) {
			@include span-columns(4);
			@include omega(3n);
		}	
		@include media(min-width 1024px) {
			@include span-columns(3);
			@include omega(4n);
		}
	}
	@include media(min-width 0px max-width 480px) {
		height: 480px;
	}	
}

.section {
	clear: both;
	margin-bottom: 100px;
	@include media(min-width 0px max-width 480px) {
		margin-bottom: 20px;
	}
}

.row-header {
	margin: 0.5em 0em;
	@include span-columns(12);
	.header {
		display: table;
		img {
			display: table-cell;
			float: left;
			width: 130px;
		}
		h3 {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}	
	}
	p { 
		clear: both;
	}
}

.column-container {
	counter-reset: column;
	.column {
		@include pad(30px);
		counter-increment: column;
		p {
			text-align: left;
			@include pad(2em 0px);
		}
		img {
			position: relative;
			z-index: -100;
			bottom: 24px;
		}
		@include media(min-width 0px max-width 1023px) {
			img {
				bottom: 30px;
			}
		}
		@include media(min-width 0px max-width 480px) {
			@include span-columns(12);
			@include omega(1n);
		}	
		@include media(min-width 481px max-width 770px) {
			@include span-columns(6);
			@include omega(2n);
		}	
		@include media(min-width 771px max-width 1023px) {
			@include span-columns(5);
			@include shift(0.5);
			@include omega(2n);
		}	
		@include media(min-width 1024px) {
			@include span-columns(3.6);
			@include shift(0.3);
			@include omega(3n);	
		}
	}
	.number:before {
		display: block;
		content: counter(column);
		width: 45px;
		height: 45px;
		padding: 12px;
		padding-left: 7px;
		background-color: $sakayGreen;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
	}
	.tip:before {
		display: block;
		content: 'Tip:';
		background: url('../illustrations/tip.svg') 0px 1px no-repeat;
		width: 95px;
		height: 45px;
		padding: 11px;
		padding-left: 35px;
		background-color: $sakayGreen;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
	}
}

.section-footer {
	clear: both;
	a {
		width: 180px;
		color: $sakayGreen;
		padding: 10px 20px;
		height: 40px;
		float: right;
		h3 {
			font-size: 1.3em;
			display: inline-block;
		}
		i {
			position: relative;
			top: -3px;
			right: 10px;
		}
		@include media(min-width 0px max-width 480px) {
			float: none;
		}	
	}
}

footer {
	background-color: $sakayGreen;
	height: 100px;
	width: 100%;
	margin-top: 100px;
	display: table;
	color: #fff;
	p {
		display: table-cell;
		vertical-align: middle;
		float: left;
		text-align: center;
		font-weight: 300;
		font-size: 1.4em;
	}
	p:last-of-type{
		text-align: right;
		font-size: 1em;
		float: right;
	}
	a {
		font-weight: 700;
		@include transition(all 0.1s ease-in);
		&:hover {
			color: $sakayRed;
		}
	}
}