/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 12, ../sass/screen.scss */
html, body {
  font-family: "Museo Sans", "museo-sans", sans-serif;
}

/* line 16, ../sass/screen.scss */
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 2.5;
}

/* line 22, ../sass/screen.scss */
h2 {
  font-size: 32px;
  font-weight: 300;
}

/* line 27, ../sass/screen.scss */
p {
  font-size: 24px;
  line-height: 1.2;
  padding: 40px;
}

/* line 33, ../sass/screen.scss */
header {
  background-color: #2A6D45;
  color: #fff;
  text-align: center;
  height: 400px;
  width: 100%;
  margin-bottom: 3em;
}
/* line 40, ../sass/screen.scss */
header .text-header {
  position: relative;
  top: 150px;
}

/* line 46, ../sass/screen.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 51, ../sass/screen.scss */
.text-main {
  height: 500px;
}
/* line 53, ../sass/screen.scss */
.text-main #get-started {
  background-color: #2A6D45;
  color: #fff;
  padding: 25px 35px;
  margin: 4em 0em;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  transition: all 2.0s ease-in;
}

/* line 66, ../sass/screen.scss */
.box {
  border: 5px solid #2A6D45;
  height: 250px;
  display: block;
}
/* line 70, ../sass/screen.scss */
.box img {
  height: 100%;
  width: 100%;
}

/* line 76, ../sass/screen.scss */
.box-container {
  height: 700px;
}
/* line 78, ../sass/screen.scss */
.box-container a {
  text-decoration: none;
}
/* line 81, ../sass/screen.scss */
.box-container .box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 2em;
}
/* line 89, ../neat/grid/_span-columns.scss */
.box-container .box:last-child {
  margin-right: 0;
}
/* line 78, ../neat/grid/_omega.scss */
.box-container .box:nth-child(4n) {
  margin-right: 0;
}
/* line 83, ../neat/grid/_omega.scss */
.box-container .box:nth-child(4n+1) {
  clear: left;
}
/* line 85, ../sass/screen.scss */
.box-container .box .box-title {
  padding: 11px;
  display: block;
  position: relative;
  top: -42px;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 24px;
  background-color: #2A6D45;
}

/* line 99, ../sass/screen.scss */
.section {
  height: 1450px;
}
/* line 101, ../sass/screen.scss */
.section#mrt-lrt {
  height: 2000px;
}
/* line 104, ../sass/screen.scss */
.section#tricycle {
  height: 950px;
}

/* line 109, ../sass/screen.scss */
.row-header {
  height: 350px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, ../neat/grid/_span-columns.scss */
.row-header:last-child {
  margin-right: 0;
}
/* line 113, ../sass/screen.scss */
.row-header .header img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 10em;
  float: left;
  margin-right: 0px;
}
/* line 89, ../neat/grid/_span-columns.scss */
.row-header .header img:last-child {
  margin-right: 0;
}
/* line 119, ../sass/screen.scss */
.row-header .header h1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: left;
  position: relative;
  bottom: -23px;
}
/* line 89, ../neat/grid/_span-columns.scss */
.row-header .header h1:last-child {
  margin-right: 0;
}
/* line 126, ../sass/screen.scss */
.row-header p {
  clear: both;
}

/* line 131, ../sass/screen.scss */
.column-container {
  counter-reset: column;
}
/* line 133, ../sass/screen.scss */
.column-container .column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 5.97086%;
  counter-increment: column;
}
/* line 89, ../neat/grid/_span-columns.scss */
.column-container .column:last-child {
  margin-right: 0;
}
/* line 78, ../neat/grid/_omega.scss */
.column-container .column:nth-child(3n) {
  margin-right: 0;
}
/* line 83, ../neat/grid/_omega.scss */
.column-container .column:nth-child(3n+1) {
  clear: left;
}
/* line 138, ../sass/screen.scss */
.column-container .column p {
  text-align: left;
  font-size: 21px;
  padding: 2em 0px;
}
/* line 143, ../sass/screen.scss */
.column-container .column img {
  position: relative;
  bottom: 26px;
  z-index: -100;
}
/* line 149, ../sass/screen.scss */
.column-container .number:before {
  display: block;
  content: counter(column);
  width: 45px;
  height: 45px;
  padding: 12px;
  padding-left: 7px;
  background-color: #2A6D45;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* line 161, ../sass/screen.scss */
.column-container .tip:before {
  display: block;
  content: 'Tip:';
  background: url("../illustrations/Tip.svg") 0px 1px no-repeat;
  width: 95px;
  height: 45px;
  padding: 11px;
  padding-left: 35px;
  background-color: #2A6D45;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
