	/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 15, ../sass/screen.scss */
html, body {
  font-family: "Museo Sans", "museo-sans", sans-serif;
}

/* line 19, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 2.5;
}

/* line 25, ../sass/screen.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
}

/* line 30, ../sass/screen.scss */
h3 {
  font-size: 1.5em;
  font-weight: 700;
}

/* line 35, ../sass/screen.scss */
p {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 40px;
}
@media screen and (max-width: 480px) {
  /* line 35, ../sass/screen.scss */
  p {
    padding: 10px 30px;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
  }
}

/* line 47, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 52, ../sass/screen.scss */
header {
  background-color: #2A6D45;
  background-image: url(../illustrations/sakay-guide-header.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  height: 400px;
  width: 100%;
  margin-bottom: 2 em;
}
/* line 63, ../sass/screen.scss */
header .text-header {
  position: relative;
  top: 40px;
}
/* line 67, ../sass/screen.scss */
header a.pdf-button {
  padding: 13px 10px 10px;
  width: 35px;
  height: 40px;
  position: absolute;
  top: -3px;
  right: 50px;
  background: #d83226;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 78, ../sass/screen.scss */
header a.pdf-button .button-container {
  width: 150px;
}
/* line 80, ../sass/screen.scss */
header a.pdf-button .button-container h3 {
  display: inline-block;
  font-size: 1em;
}
/* line 84, ../sass/screen.scss */
header a.pdf-button .button-container i {
  position: relative;
  left: -11px;
}
/* line 89, ../sass/screen.scss */
header a.pdf-button:hover {
  width: 160px;
  background: #FF584C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 67, ../sass/screen.scss */
  header a.pdf-button {
    right: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 900px) {
  /* line 52, ../sass/screen.scss */
  header {
    height: 300px;
    background-size: 900px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1599px) {
  /* line 52, ../sass/screen.scss */
  header {
    height: 450px;
    background-size: 1600px;
  }
  /* line 104, ../sass/screen.scss */
  header .text-header {
    top: 70px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 52, ../sass/screen.scss */
  header {
    height: 550px;
  }
  /* line 110, ../sass/screen.scss */
  header .text-header {
    top: 100px;
  }
}

/* line 116, ../sass/screen.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 121, ../sass/screen.scss */
.text-main {
  margin: 3em 0 3em;
}

/* line 134, ../sass/screen.scss */
.box {
  border: 5px solid #2A6D45;
  height: 250px;
  display: block;
  overflow: hidden;
}
/* line 139, ../sass/screen.scss */
.box img {
  height: 100%;
  width: 100%;
}

/* line 145, ../sass/screen.scss */
.box-container {
  height: 700px;
  margin: 30px;
}
/* line 148, ../sass/screen.scss */
.box-container a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* line 150, ../sass/screen.scss */
.box-container a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 154, ../sass/screen.scss */
.box-container .box {
  margin-bottom: 2em;
}
/* line 156, ../sass/screen.scss */
.box-container .box h3 {
  display: block;
  padding: 8px;
  position: relative;
  top: -42px;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #2A6D45;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 154, ../sass/screen.scss */
  .box-container .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 50px;
    margin-bottom: 0.5em;
    border: none;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .box-container .box:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(1n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(1n+1) {
    clear: left;
  }
  /* line 172, ../sass/screen.scss */
  .box-container .box h3 {
    position: initial;
    text-align: left;
  }
  /* line 176, ../sass/screen.scss */
  .box-container .box img {
    width: 20%;
    float: left;
    position: relative;
    bottom: 4px;
    right: 2px;
  }
}
@media screen and (min-width: 481px) and (max-width: 770px) {
  /* line 154, ../sass/screen.scss */
  .box-container .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 5.97086%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .box-container .box:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(2n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(2n+1) {
    clear: left;
  }
}
@media screen and (min-width: 771px) and (max-width: 1023px) {
  /* line 154, ../sass/screen.scss */
  .box-container .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .box-container .box:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(3n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(3n+1) {
    clear: left;
  }
}
@media screen and (min-width: 1024px) {
  /* line 154, ../sass/screen.scss */
  .box-container .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .box-container .box:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(4n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .box-container .box:nth-child(4n+1) {
    clear: left;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 145, ../sass/screen.scss */
  .box-container {
    height: 480px;
  }
}

/* line 203, ../sass/screen.scss */
.section {
  clear: both;
  margin-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 203, ../sass/screen.scss */
  .section {
    margin-bottom: 20px;
  }
}

/* line 211, ../sass/screen.scss */
.row-header {
  margin: 0.5em 0em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, ../neat/grid/_span-columns.scss */
.row-header:last-child {
  margin-right: 0;
}
/* line 214, ../sass/screen.scss */
.row-header .header {
  display: table;
}
/* line 216, ../sass/screen.scss */
.row-header .header img {
  display: table-cell;
  float: left;
  width: 130px;
}
/* line 221, ../sass/screen.scss */
.row-header .header h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
/* line 227, ../sass/screen.scss */
.row-header p {
  clear: both;
}

/* line 232, ../sass/screen.scss */
.column-container {
  counter-reset: column;
}
/* line 234, ../sass/screen.scss */
.column-container .column {
  padding: 30px;
  counter-increment: column;
}
/* line 237, ../sass/screen.scss */
.column-container .column p {
  text-align: left;
  padding: 2em 0px;
}
/* line 241, ../sass/screen.scss */
.column-container .column img {
  position: relative;
  z-index: -100;
  bottom: 24px;
}
@media screen and (min-width: 0px) and (max-width: 1023px) {
  /* line 247, ../sass/screen.scss */
  .column-container .column img {
    bottom: 30px;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 234, ../sass/screen.scss */
  .column-container .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .column-container .column:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(1n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(1n+1) {
    clear: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 770px) {
  /* line 234, ../sass/screen.scss */
  .column-container .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .column-container .column:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(2n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(2n+1) {
    clear: left;
  }
}
@media screen and (min-width: 771px) and (max-width: 1023px) {
  /* line 234, ../sass/screen.scss */
  .column-container .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 4.2649%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .column-container .column:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(2n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(2n+1) {
    clear: left;
  }
}
@media screen and (min-width: 1024px) {
  /* line 234, ../sass/screen.scss */
  .column-container .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 28.34964%;
    margin-left: 2.55894%;
  }
  /* line 89, ../neat/grid/_span-columns.scss */
  .column-container .column:last-child {
    margin-right: 0;
  }
  /* line 78, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(3n) {
    margin-right: 0;
  }
  /* line 83, ../neat/grid/_omega.scss */
  .column-container .column:nth-child(3n+1) {
    clear: left;
  }
}
/* line 270, ../sass/screen.scss */
.column-container .number:before {
  display: block;
  content: counter(column);
  width: 45px;
  height: 45px;
  padding: 12px;
  padding-left: 7px;
  background-color: #2A6D45;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* line 282, ../sass/screen.scss */
.column-container .tip:before {
  display: block;
  content: 'Tip:';
  background: url("../illustrations/tip.svg") 0px 1px no-repeat;
  width: 95px;
  height: 45px;
  padding: 11px;
  padding-left: 35px;
  background-color: #2A6D45;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* line 297, ../sass/screen.scss */
.section-footer {
  clear: both;
}
/* line 299, ../sass/screen.scss */
.section-footer a {
  width: 180px;
  color: #2A6D45;
  padding: 10px 20px;
  height: 40px;
  float: right;
}
/* line 305, ../sass/screen.scss */
.section-footer a h3 {
  font-size: 1.3em;
  display: inline-block;
}
/* line 309, ../sass/screen.scss */
.section-footer a i {
  position: relative;
  top: -3px;
  right: 10px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  /* line 299, ../sass/screen.scss */
  .section-footer a {
    float: none;
  }
}

/* line 320, ../sass/screen.scss */
footer {
  background-color: #2A6D45;
  height: 100px;
  width: 100%;
  margin-top: 100px;
  display: table;
  color: #fff;
}
/* line 327, ../sass/screen.scss */
footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
}
/* line 334, ../sass/screen.scss */
footer a {
  font-weight: 700;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* line 337, ../sass/screen.scss */
footer a:hover {
  color: #FF584C;
}
